backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)

media_folder: static/admin/img
public_folder: /img

collections:
  - name: 'blog'
    label: 'Blog'
    folder: 'src/content/blog'
    create: true
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    media_folder: ''
    public_folder: ''
    path: '{{year}}-{{month}}-{{day}}/{{title}}'
    editor:
      preview: false
    fields:
      - { label: 'Template Key', name: 'templateKey', widget: 'hidden', default: 'blog-post' }
      - { label: 'Featured Image', name: 'featuredimage', widget: image }
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Publish Date', name: 'date', widget: 'datetime' }
      - { label: 'Description', name: 'description', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
 