.footer {
  text-align: right;
  bottom: 0;
  position: fixed;
  padding-right: 10px;
  color: rgb(121, 153, 166);
  width: 100%;
  z-index:5000;
  font-size: 12px;
  font-family: "DM Serif Display";
}
