#brand  {
  font-size: 40px;
}
#navColor {
  font-family: "DM Serif Display";
  color: black;
  z-index: 100;
  font-size: 20px;
  z-index:5000;
}
button {
  z-index: 100;
}
@media all and (max-width: 480px) {
#brand {
    font-size: 25px;
  }
}
