#brand  {
  font-size: 40px;
  /* border-bottom: 5px solid black; */

}
#navColor {
  font-family: "DM Serif Display";
  color: black;
  z-index: 100;
  font-size: 20px;
  z-index:5000;
}
button {
  z-index: 100;
}
@media all and (max-width: 480px) {
#brand {
    font-size: 25px;
  }
}
#icon {
  color: black;
  height: 27px;
  width: 27px;
  margin-top: 8px;
}
a.nav-link {
  padding-right: 20px;
  
}
