nav .navbar-brand  {
  font-size: 40px;
}
.navbar-nav .nav-link {
  font-size: 20px;
}
#nav-color a {
  font-family: "DM Serif Display";
  color: black;
  z-index: 100;
}
button {
  z-index: 100;
}
@media all and (max-width: 480px) {
  a.navbar-brand {
    font-size: 25px;
  }
}
