.logo {
  width: 100px;
}
:global .nav-link {
  font-family: "DM Serif Display";
  color: black;
  z-index: 1;
  font-size: 20px;
  margin-right: 10px;
  display: flex !important;
  position: relative;
  justify-content: center;
}
:global .nav-link:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 45%;
  top: 20px;
  left: 5px;
  background-color: pink;
  z-index: -1;
}
:global .nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 45%;
  top: 20px;
  left: 5px;
  z-index: -1;
  background-color: transparent;
  transition: background-color 0.3s;
}
@media all and (max-width: 480px) {
  .logo {
    width: 50px;
  }
  :global .nav-link {
    padding: .15rem !important;
    font-size: 15px;
  }
  :global .navbar {
    padding: .15rem !important;
  }
}
