:global nav {
  font-family: "DM Serif Display";
  color: black;
  z-index: 1;
  font-size: 20px;
}
#brand  {
  display: inline-block;
  position: relative;
}
button {
  z-index: 100;
}
@media all and (max-width: 480px) {
#brand{
    font-size: 30px;
  }
}
:global .nav-link {
  margin-right: 10px;
  display: inline-block;
  position: relative;
}
:global .nav-link:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 45%;
  top: 20px;
  left: 5px;
  background-color: pink;
  z-index: -1;
}
:global .nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 45%;
  top: 20px;
  left: 5px;
  z-index: -1;
  background-color: transparent;
  transition: background-color 0.3s;
}
/* #brand::after {
  content: "";
  position: absolute;
  width: 17rem;
  height: 45%;
  top: 30px;
  left: -5px;
  z-index: -1;
  color: black;
  background-color: transparent;
  transition: background-color 0.3s;
}
#brand:hover::after {
  content: "";
  position: absolute;
  width: 17rem;
  height: 45%;
  top: 30px;
  left: -5px;
  background-color: pink;
  z-index: -1;
} */
