.container {
  margin: 3rem auto;
}
.sun {
  top:0;
  left: 0;
  height: 300px;
  width: 300px;
  position: absolute;
  border-radius: 50%;
  margin-top: 25px;
  margin-left: 25px;
  background: lightyellow;
  background: radial-gradient(circle, rgba(255,245,204,1) 31%, rgba(233,233,148,0) 100%);
}
.water {
  top: 0;
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;

}
svg {
  position: relative;
  height: 100%;
  width: 100%;
}
path {
  fill: rgba(135, 206, 235, .7);
}

@media all and (max-width: 480px) {
  .sun {
  height: 150px;
  width: 150px;
  }
}
