.container {
  margin: 3rem auto;
  padding-top: 30px;
}
.sun {
  -webkit-animation: sunFade 2s infinite;
  -moz-animation: sunFade 2s infinite;
  -o-animation: sunFade 2s infinite;
  animation: sunFade 2s infinite, bounceInTop 1s 0.5s both;
  top:0;
  left: 0;
  height: 400px;
  width: 400px;
  position: fixed;
  border-radius: 50%;
  margin-top: 25px;
  margin-left: 25px;
  background: lightyellow;
  background: radial-gradient(circle, rgba(255,245,204,1) 35%, rgba(233,233,148,0) 100%);
}
@keyframes sunFade {
  0% { opacity:1;}
  50% {opacity:.5;}
  100% {opacity: 1;}
}
@-moz-keyframes sunFade {
  0% { opacity:1;}
  50% {opacity:.5;}
  100% {opacity: 1;}
}
@-webkit-keyframes sunFade {
  0% { opacity:1;}
  50% {opacity:.5;}
  100% {opacity: 1;}
}
@-o-keyframes sunFade {
  0% { opacity:1;}
  50% {opacity:.5;}
  100% {opacity: 1;}
}
@-ms-keyframes sunFade {
  0% { opacity:1;}
  50% {opacity:.5;}
  100% {opacity: 1;}
}
.water {
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
}
div .water svg {
  position: fixed;
  width:100%;
  height: 100vh;
  padding: 0;
}
.slideLeft {
	-webkit-animation: slideLeft 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slideLeft 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* sun entrance effect */
@-webkit-keyframes bounceInTop {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounceInTop {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@media all and (max-width: 480px) {
  .sun {
  height: 225px;
  width: 225px;
  }
}
