.container {
  margin: 3rem auto;
  padding-top: 50px;
}
.sun {
  -webkit-animation: sunFade 4s infinite;
  -moz-animation: sunFade 4s infinite;
  -o-animation: sunFade 4s infinite;
  animation: sunFade 4s infinite;
  top:0;
  left: 0;
  height: 400px;
  width: 400px;
  position: fixed;
  border-radius: 50%;
  margin-top: 25px;
  margin-left: 25px;
  background: lightyellow;
  background: radial-gradient(circle, rgba(255,245,204,1) 40%, rgba(233,233,148,0) 100%);
}
@keyframes sunFade {
  0% { opacity:1;}
  50% {opacity:.5;}
  100% {opacity: 1;}
}
@-moz-keyframes sunFade {
  0% { opacity:1;}
  50% {opacity:.5;}
  100% {opacity: 1;}
}
@-webkit-keyframes sunFade {
  0% { opacity:1;}
  50% {opacity:.5;}
  100% {opacity: 1;}
}
@-o-keyframes sunFade {
  0% { opacity:1;}
  50% {opacity:.5;}
  100% {opacity: 1;}
}
@-ms-keyframes sunFade {
  0% { opacity:1;}
  50% {opacity:.5;}
  100% {opacity: 1;}
}
.water {
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
}
div .water svg {
  position: fixed;
  width:100%;
  height: 100vh;
  padding: 0;
}
@media all and (max-width: 480px) {
  .sun {
  height: 225px;
  width: 225px;
  }
}
